.heading {
  text-align: center;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  width: 20%;
  font-family: 'Monaco', monospace;
  font-size: 160%;
  font-style: italic;
  color: #FFD7DE;
  border-bottom: 2px solid #CC9AAC;
  text-shadow: -1px 0 #CC9AAC, 0 1px #CC9AAC, 1px 0 #CC9AAC, 0 -1px #CC9AAC;
}

p {
  text-align: center;
  color: #CC9AAC;
  text-shadow: -1px 0 #FFF3EA, 0 1px #FFF3EA, 1px 0 #FFF3EA, 0 -1px #FFF3EA;
  padding-bottom: 20px;
}

#list {
  text-align: left;
  margin-right: auto;
  margin-left: 22%;
  width: 60%;
  color: #CC9AAC;
}

a {
  color: #FFD7DE;
  font-size: 105%;
  text-decoration: none;
  text-shadow: -1px 0 #CC9AAC, 0 1px #CC9AAC, 1px 0 #CC9AAC, 0 -1px #CC9AAC;
  padding-right: 20pt;
  padding-left: 20pt;
}

a:hover {
  text-shadow: unset;
  color: #CC9AAC;
}
