.state_bar {
  text-align: center;
}

button.state_buttons {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.water_bar {
  width: auto;
  height: 40px;
}

#waterfront_grid {
  text-align: center;
  color: #B6BAFF;
  font-size: 90%;
  background-color: #F6F8FF;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 5px solid #B6BAFF;
  border-left: 3px solid #B6BAFF;
  border-right: 3px solid #B6BAFF;
  border-bottom: 3px solid #B6BAFF;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 65%;
}

#water_box {
  padding: 0;
}

.building_tile {
  padding: 20px;
}

#option_grid {
  text-align: center;
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

label {
  color: #CC9AAC;
  font-weight: bold;
  font-size: 90%;
  text-shadow: -1px 0 #FFF3EA, 0 1px #FFF3EA, 1px 0 #FFF3EA, 0 -1px #FFF3EA;
}

.select_block {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

select {
  background: transparent;
  color: #CC9AAC;
  font-style: normal;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  border-radius: 5px;
  border: 2px solid #CC9AAC;
  padding: 3px 5px;
}

option {
  color: #CC9AAC;
  font-size: 105%;
  font-weight: bold;
}
