header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  text-align: center;
  background: #FFD7DE;
  border: 5px solid #FFF3EA;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #CC9AAC inset, -1px -1px 2px #CC9AAC inset;
}

#title {
  text-shadow: -1px 0 #CC9AAC, 0 1px #CC9AAC, 1px 0 #CC9AAC, 0 -1px #CC9AAC;
  color: #FFF3EA;
  font-size: 200%;
}

ul {
  margin: auto;
  width: 94%;
  text-align: center;
  border: 5px solid #FFF3EA;
  border-radius: 12px;
  list-style-type: none;
  background-color: #CDDAFD;
  padding-top: 5pt;
  padding-bottom: 5pt;
  box-shadow: 1px 1px 2px #B6BAFF inset, -1px -1px 2px #B6BAFF inset;
}

li {
  display: inline;
}

li a {
  color: #FFF3EA;
  font-size: 105%;
  text-decoration: none;
  text-shadow: -1px 0 #B6BAFF, 0 1px #B6BAFF, 1px 0 #B6BAFF, 0 -1px #B6BAFF;
  padding-right: 20pt;
  padding-left: 20pt;
}

li a:hover {
  background-color: #FFF3EA;
  text-shadow: unset;
  border-radius: 12px;
  color: #B6BAFF;
}
