html {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #FFF3EA;
  font-style: normal;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 20%;
  background-position: bottom left;
  background-attachment: fixed;
  background-image: url(../GRAPHICS/palm_tree.png);
  background-blend-mode: darken;
}

button {
  color: #FFF3EA;
  background-color: #FFD7DE;
  text-shadow: -1px 0 #CC9AAC, 0 1px #CC9AAC, 1px 0 #CC9AAC, 0 -1px #CC9AAC;
  border-radius: 12px;
  border: 2px solid #CC9AAC;
  box-shadow: 0 2px #CC9AAC;
  font-style: normal;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

button:hover {
  color: #CC9AAC;
  text-shadow: unset;
  background-color: #FFF3EA;
}

button:active {
  box-shadow: 0 0 #CC9AAC;
  transform: translateY(2px);
}
